@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="main-wrapper ">
	<section class="slider">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<span class="h6 d-inline-block mb-4 subhead text-uppercase">Gym fitness club</span>
					<h1 class="text-uppercase text-white mb-5">Empieza el<span class="text-color">desafío fitness</span><br>con nostros</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="mt-80px">
		<div class="container">
			<div class="row ">
				<div class="col-lg-4 col-md-6">
					<div class="card p-5 border-0 rounded-top border-bottom position-relative hover-style-1">
						<span class="number">01</span>
						<h3 class="mt-3">Equipo moderno</h3>
						<p class="mt-3 mb-4">Vestibulum sit amet blan augue, sit amet vehicula mi. Aliquam vitae varius.</p>
						<a href="" class="text-color text-uppercase font-size-13 letter-spacing font-weight-bold"><i class="ti-minus mr-2 "></i>Más detalles</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="card p-5 border-0 rounded-top hover-style-1">
						<span class="number">02</span>
						<h3 class="mt-3">Entrenadores profesionales</h3>
						<p class="mt-3 mb-4">Vestibulum sit amet blan augue, sit amet vehicula mi. Aliquam vitae varius.</p>
						<a href="" class="text-color text-uppercase font-size-13 letter-spacing font-weight-bold"><i class="ti-minus mr-2 "></i>Más detalles</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="card p-5 border-0 rounded-top hover-style-1">
						<span class="number">03</span>
						<h3 class="mt-3">Plan saludable de dieta</h3>
						<p class="mt-3 mb-4">Vestibulum sit amet blan augue, sit amet vehicula mi. Aliquam vitae varius.</p>
						<a href="" class="text-color text-uppercase font-size-13 letter-spacing font-weight-bold"><i class="ti-minus mr-2 "></i>Ver más</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Section Intro End -->
	<!-- Section About start -->
	<section class="section about">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<img src="images/bg/bg-5.jpg" alt="" class="img-fluid rounded shadow w-100">
				</div>

				<div class="col-lg-6">
					<div class="pl-3 mt-5 mt-lg-0">
						<h2 class="mt-1 mb-3">Tenemos habilidad en <br>un alto <span class="text-color">rango de condición física</span> y salud corporal. </h2>

						<p class="mb-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis Theme natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam lorem ante, dapibus in.</p>

						<a href="#" class="btn btn-main">Aprende más<i class="fa fa-angle-right ml-2"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Section About End -->
	<!-- section Call To action start -->
	<section class="section cta">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12 col-sm-12">
					<div class="text-center">
						<span class="h6 letter-spacing text-white">Descubre tu potencial</span>
						<h2 class="text-lg mt-4 mb-5 text-white">
							Reserva tu asiento anticipado para obtener <span class="text-color"> un descuento del </span>25%
						</h2>

						<a href="pricing.html" class="btn btn-main text-white">Únete hoy</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- section Call To action start -->
	<!-- Section Services Start -->
	<section class="section services ">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="section-title">
						<div class="divider mb-3"></div>
						<h2>Nuestros servicios</h2>
						<p>Ofrecemos más de 35 ejercicios grupales, clases aeróbicas cada semana.</p>
					</div>
				</div>
			</div>

			<div class="row no-gutters">
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="text-center  px-4 py-5 hover-style-1">
						<i class="icofont-gym-alt-2 text-lg text-color"></i>
						<h4 class="mt-3 mb-4 text-uppercase">LEVANTAMIENTO DE PESAS</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, molestias.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="text-center  px-4 py-5 hover-style-1">
						<i class="icofont-cycling-alt text-lg text-color"></i>
						<h4 class="mt-3 mb-4 text-uppercase">Ciclismo</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, molestias.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="text-center  px-4 py-5 hover-style-1">
						<i class="icofont-gym-alt-3 text-lg text-color"></i>
						<h4 class="mt-3 mb-4 text-uppercase">Meditación de yoga</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, molestias.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="text-center  px-4 py-5 hover-style-1">
						<i class="icofont-muscle text-lg text-color"></i>
						<h4 class="mt-3 mb-4 text-uppercase">Contruyendo tu cuerpo</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, molestias.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="text-center  px-4 py-5 hover-style-1">
						<i class="icofont-dumbbell text-lg text-color"></i>
						<h4 class="mt-3 mb-4 text-uppercase">Pista de fitness</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, molestias.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="text-center  px-4 py-5 hover-style-1">
						<i class="icofont-gym text-lg text-color"></i>
						<h4 class="mt-3 mb-4 text-uppercase">Fitness</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, molestias.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Section Services End -->
	<!-- Section Gallery Start -->
	<section class="gallery">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="section-title">
						<div class="divider mb-3"></div>
						<h2>Nuestra galería</h2>
						<p>Ofrecemos más de 35 ejercicios grupales, clases aeróbicas cada semana.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid p-0">
			<div class="row no-gutters portfolio-gallery">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<a href="images/gallery/gallery-01.jpg" class="popup-gallery">
						<img src="images/gallery/gallery-01.jpg" alt="" class="img-fluid">
					</a>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<a href="images/gallery/gallery-02.jpg" class="popup-gallery">
						<img src="images/gallery/gallery-02.jpg" alt="" class="img-fluid">
					</a>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<a href="images/gallery/gallery-03.jpg" class="popup-gallery">
						<img src="images/gallery/gallery-03.jpg" alt="" class="img-fluid">
					</a>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<a href="images/gallery/gallery-04.jpg" class="popup-gallery">
						<img src="images/gallery/gallery-04.jpg" alt="" class="img-fluid">
					</a>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<a href="images/gallery/gallery-05.jpg" class="popup-gallery">
						<img src="images/gallery/gallery-05.jpg" alt="" class="img-fluid">
					</a>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<a href="images/gallery/gallery-06.jpg" class="popup-gallery">
						<img src="images/gallery/gallery-06.jpg" alt="" class="img-fluid">
					</a>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<a href="images/gallery/gallery-07.jpg" class="popup-gallery">
						<img src="images/gallery/gallery-07.jpg" alt="" class="img-fluid">
					</a>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<a href="images/gallery/gallery-08.jpg" class="popup-gallery">
						<img src="images/gallery/gallery-08.jpg" alt="" class="img-fluid">
						<img src="../Pages/Images/gallery/gallery-08.jpg" alt="" class="img-fluid" />
					</a>
				</div>
			</div>
		</div>
	</section>

	<section class="section textimonial position-relative bg-3">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="row justify-content-center">
						<div class="col-lg-12 text-center">
							<div class="section-title">
								<div class="divider mb-3"></div>
								<h2 class="text-white">Lo que dice la gente</h2>
							</div>
						</div>
					</div>

					<div class="testimonial-slider">
						<div class="text-center mb-4 ">
							<i class="ti-quote-left text-lg text-color"></i>
							<h3 class="mt-4 text-white letter-spacing">Un buen comienzo a una vida saludable</h3>
							<p class="my-4 text-white-50">Laboriosam molestias aperiam sit corporis sunt, hic veritatis possimus optio reprehenderit, laudantium excepturi, consequatur. Assumenda hic error veniam exercitationem</p>

							<div>
								<h4 class="mb-0 text-capitalize text-white font-weight-normal">John Donas</h4>
								<span class="text-white-50">Manager</span>
							</div>
						</div>
						<div class="text-center mb-4">
							<i class="ti-quote-left text-lg text-color"></i>
							<h3 class="mt-4 text-white letter-spacing">¡El entrenamiento al que vale la pena asistir!</h3>
							<p class="my-4 text-white-50">Laboriosam molestias aperiam sit corporis sunt, hic veritatis possimus optio reprehenderit, laudantium excepturi, consequatur. Assumenda hic error veniam exercitationem</p>
							<div>
								<h4 class="mb-0 text-capitalize text-white font-weight-normal">Donas Jack</h4>
								<span class="text-white-50">Manager</span>
							</div>
						</div>

						<div class="text-center mb-4">
							<i class="ti-quote-left text-lg text-color"></i>
							<h3 class="mt-4 text-white letter-spacing">Club profesional e instructores</h3>
							<p class="my-4 text-white-50">Laboriosam molestias aperiam sit corporis sunt, hic veritatis possimus optio reprehenderit, laudantium excepturi, consequatur. Assumenda hic error veniam exercitationem</p>
							<div>
								<h4 class="mb-0 text-capitalize text-white font-weight-normal">Mikel Hussy</h4>
								<span class="text-white-50">Manager</span>
							</div>
						</div>

						<div class="text-center mb-4">
							<i class="ti-quote-left text-lg text-color"></i>
							<h3 class="mt-4 text-white letter-spacing">¡Moldea tu cuerpo y mantente saludable!</h3>
							<p class="my-4 text-white-50">Laboriosam molestias aperiam sit corporis sunt, hic veritatis possimus optio reprehenderit, laudantium excepturi, consequatur. Assumenda hic error veniam exercitationem</p>
							<div>
								<h4 class="mb-0 text-capitalize text-white font-weight-normal">Hiker jons</h4>
								<span class="text-white-50">Manager</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section course bg-gray">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="section-title">
						<div class="divider mb-3"></div>
						<h2>Cursos populares</h2>
						<p>Ofrecemos más de 35 ejercicios grupales, clases aeróbicas cada semana.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="card border-0 rounded-0 p-0 mb-5 mb-lg-0 shadow-sm">
						<img src="images/gallery/course-1.jpg" alt="" class="img-fluid">

						<div class="card-body">
							<a href="course-single.html"><h4 class="font-secondary mb-0">Construye tu cuerpo</h4></a>
							<p class=" mb-2">Instructor</p>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="card border-0 rounded-0 p-0 mb-5 mb-lg-0 shadow-sm">
						<img src="images/gallery/course-2.jpg" alt="" class="img-fluid">

						<div class="card-body">
							<a href="course-single.html"><h4 class="font-secondary mb-0">Construye tu cuerpo</h4></a>
							<p class="mb-2">Instructor</p>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="card border-0 rounded-0 p-0 mb-5 mb-lg-0 shadow-sm">
						<img src="images/gallery/course-3.jpg" alt="" class="img-fluid">

						<div class="card-body">
							<a href="course-single.html"><h4 class="font-secondary mb-0">Contruye tu cuerpo</h4></a>
							<p class=" mb-2">Instructor</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="card border-0 rounded-0 p-0 mb-5 mb-lg-0 shadow-sm">
						<img src="images/gallery/course-2.jpg" alt="" class="img-fluid">

						<div class="card-body">
							<a href="course-single.html"><h4 class="font-secondary mb-0">Contruye tu cuerpo</h4></a>
							<p class=" mb-2">Instructor</p>
						</div>
					</div>
				</div>

			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="mt-5 text-center">
						<a href="course.html" class="btn btn-main">Mira todos nuestro cursos</a>
					</div>
				</div>
			</div>
		</div>
	</section>

<style>

		.form-control {
			box-shadow: none;
			border-radius: 0;
		}

			.form-control:focus {
				box-shadow: none;
				border: 1px solid rgb(245, 99, 75);
			}

		.btn {
			display: inline-block;
			font-size: 14px;
			letter-spacing: 1px;
			padding: 18px 35px;
			text-transform: uppercase;
			border-radius: 0;
			font-weight: 700;
			transition: all 0.5s ease;
			border: 1px solid transparent;
		}

		.textimonial .container {
			position: relative;
			z-index: 2;
		}

		.btn-main, .btn-small, .btn-transparent {
			background: linear-gradient(90deg, rgb(245, 99, 75) 0%, #fe9418 100%);
			color: #fff;
		}

			.btn-main:hover, .btn-small:hover, .btn-transparent:hover {
				background: linear-gradient(90deg, #fe9418 0%, rgb(245, 99, 75) 100%);
				color: #fff !important;
				transform: translateY(-5px);
			}

		.btn-solid-border {
			border: 2px solid rgb(245, 99, 75);
			background: transparent;
			color: #fff;
		}

			.btn-solid-border:hover {
				border: 2px solid rgb(245, 99, 75);
				background: rgb(245, 99, 75);
			}

		.btn-white {
			border: 2px solid #fff;
			background: #fff;
			color: #232323;
		}

			.btn-white:hover {
				border: 1px solid rgb(245, 99, 75);
				background: rgb(245, 99, 75);
				color: #fff !important;
			}

		.btn-transparent {
			background: transparent;
			padding: 0;
			color: rgb(245, 99, 75);
		}

			.btn-transparent:hover {
				background: transparent;
				color: rgb(245, 99, 75);
			}

		.btn-large {
			padding: 20px 45px;
		}

			.btn-large.btn-icon i {
				font-size: 16px;
				vertical-align: middle;
				margin-right: 5px;
			}

		.btn-small {
			padding: 10px 25px;
			font-size: 12px;
		}

		.btn-round {
			border-radius: 4px;
		}

		.btn-round-full {
			border-radius: 50px;
		}

		.btn.active:focus, .btn:active:focus, .btn:focus {
			outline: 0;
		}

		.bg-shadow {
			background-color: #fff;
			box-shadow: 0 16px 24px rgba(0, 0, 0, 0.08);
			padding: 20px;
		}

		.bg-gray {
			background: #f0f2f4;
		}

		.bg-primary {
			background: rgb(245, 99, 75) !important;
		}

		.section {
			padding: 100px 0;
		}

		.section-title {
			margin-bottom: 70px;
		}

			.section-title .title {
				font-size: 50px;
				line-height: 50px;
			}

			.section-title p {
				color: #666;
				font-family: "Montserrat", sans-serif;
			}

		.page-title {
			padding: 155px 0 100px;
		}

		.overly, .bg-4 {
			position: relative;
		}

		.cta .container {
			position: relative; /* Necesario para que z-index funcione */
			z-index: 2; /* CAPA 2: Se coloca encima del difuminado */
		}
			.overly:before, .bg-4:before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				width: 100%;
				height: 100%;
				background: #232323;
				opacity: 0.8;
			}

		.overly-2, .textimonial, .cta, .slider, .page-title {
			position: relative;
		}


			.overly-2:before, .textimonial:before, .cta:before, .slider:before, .page-title:before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				width: 100%;
				height: 100%;
				background: #000;
				opacity: 0.8;
			}

			.slider:before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: #000;
				opacity: 0.2; /* Le ponemos muy poca opacidad, casi no se necesita con fondo sólido */
				z-index: 1; /* Capa 1: Por debajo del texto */
			}

		
			.slider .container {
				position: relative; /* Necesario para que z-index funcione */
				z-index: 2; /* Capa 2: Por encima del difuminado */
			}
		#success, #error {
			display: none;
		}

		.text-color {
			color: rgb(245, 99, 75);
		}

		.text-black {
			color: #232323;
		}

		.text-sm {
			font-size: 14px;
		}

		.text-md {
			font-size: 26px;
			line-height: 36px;
		}

		.text-lg {
			font-size: 56px;
			line-height: 66px;
		}

		.no-spacing {
			letter-spacing: 0px;
		}

		a {
			transition: all 0.35s ease;
		}

			a:hover, a:focus {
				color: rgb(245, 99, 75) !important;
				text-decoration: none !important;
				outline: 0;
			}

		.font-size-13 {
			font-size: 13px;
		}

		.letter-spacing {
			letter-spacing: 1px;
		}

		.slider {
			background-color: #000000; /* Fondo negro */
			
			padding: 180px 0px;
		}

			.slider h1 {
				font-size: 95px;
				line-height: 95px;
			}

			.slider span.subhead {
				color: #fff;
				letter-spacing: 5px;
				border: 2px solid #fff;
				padding: 3px 15px 5px 15px;
				opacity: 0.8;
			}

		.bg-2 {
			background: url("../images/bg/bg-image-2-1.jpg") no-repeat;
			background-size: cover;
		}

		.bg-3 {
			background: url("../images/bg/bg-cta.jpg") no-repeat;
			background-size: cover;
		}

		.bg-4 {
			background: url("../images/about/img-7.jpg") no-repeat;
			background-size: cover;
		}

		.mt-80px {
			margin-top: -80px;
		}

		.number {
			opacity: 0.1;
			font-size: 130px;
			display: block;
			line-height: 120px;
			position: absolute;
			top: 10px;
		}

		.why .card {
			transition: all 0.4s ease 0s;
		}

			.why .card:hover {
				background: #181a23;
			}

				.why .card:hover h3,
				.why .card:hover p {
					color: #fff;
				}

		.hover-style-1 {
			position: relative;
		}

			.hover-style-1:before {
				position: absolute;
				content: "";
				left: 0px;
				top: 0px;
				width: 100%;
				height: 0px;
				transition: all 600ms ease;
				background: linear-gradient(90deg, rgb(245, 99, 75) 0%, #fe9418 100%);
				border-color: rgb(245, 99, 75);
			}

			.hover-style-1 h3, .hover-style-1 p, .hover-style-1 a, .hover-style-1 i, .hover-style-1 h4 {
				position: relative;
				transition: all 600ms ease;
			}

			.hover-style-1:hover:before {
				height: 100%;
			}

			.hover-style-1:hover a {
				color: rgba(255, 255, 255, 0.8) !important;
			}

			.hover-style-1:hover h3,
			.hover-style-1:hover h4,
			.hover-style-1:hover p,
			.hover-style-1:hover a {
				color: #fff;
			}

			.hover-style-1:hover i {
				color: rgba(255, 255, 255, 0.8) !important;
			}

		.mt--45 {
			margin-top: -45px;
		}

		.course .card-body a h4:hover {
			color: rgb(245, 99, 75);
		}

		.course-widget li a {
			color: #232323;
			opacity: 0.9;
		}

		.team-content-overlay li a {
			color: #fff;
		}

			.team-content-overlay li a:hover {
				background: rgb(245, 99, 75);
			}

		.team-item .card-body {
			margin-top: -120px;
		}

		.team-content-overlay {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			opacity: 0;
			width: 100%;
			background-color: rgba(41, 40, 45, 0.85);
			transition: opacity 0.3s ease-out;
		}

		.overlay-content {
			width: 100%;
			position: absolute;
			left: 0;
			padding: 25px;
			box-sizing: border-box;
			text-align: center;
			top: 50%;
			transform: translateY(-40%);
		}

		.team-item:hover .team-content-overlay {
			opacity: 1;
		}

		.team-item:hover .card-body {
			opacity: 0;
		}

		.team-wrap .card-subtitle {
			position: relative;
		}

			.team-wrap .card-subtitle:after {
				content: "";
				position: absolute;
				display: block;
				width: 100%;
				max-width: 26px;
				border-top: 4px solid #ddd;
				margin-top: 20px;
			}

		.team-wrap ul li a {
			width: 40px;
			height: 40px;
			border: 1px solid #dedede;
			color: #232323;
			display: inline-block;
			text-align: center;
			padding-top: 6px;
		}

			.team-wrap ul li a:hover {
				background: rgb(245, 99, 75);
				border-color: rgb(245, 99, 75);
				color: #fff !important;
			}

		.divider {
			margin: 0 auto;
			background: rgb(245, 99, 75);
			width: 45px;
			height: 4px;
		}

		.cta {
			background: url("../images/bg/slide2.jpg") fixed 50% 50% no-repeat;
			background-size: cover;
		}

		.w-40 {
			width: 40%;
		}

		.testimonial-slider .slick-dots li {
			color: #fff;
		}

		.slick-dots li.slick-active button::before {
			color: rgb(245, 99, 75);
		}

		.slick-dots li button::before {
			color: #fff;
			font-size: 10px;
		}

		.slick-slide:focus, .slick-slide a {
			outline: none;
		}

		.lh-35 {
			line-height: 35px;
		}

		.pricing .card-body ul li {
			font-size: 15px;
		}

		.pricing h3 {
			padding-left: 20px;
		}

			.pricing h3 sup {
				top: 20px;
				left: 0px;
			}

			.pricing h3 sub {
				font-size: 13px;
			}

		.pricing .btn-solid-border:hover {
			color: #fff !important;
		}

		.map {
			width: 100%;
			height: 450px;
		}

		.mt--170 {
			margin-top: -170px;
		}

		.blog .card a h4 {
			font-weight: 700;
		}

			.blog .card a h4:hover {
				color: rgb(245, 99, 75);
			}

		.blog-post-meta span {
			font-size: 13px;
		}

		.lh-25 {
			line-height: 23px;
		}

		.search i {
			position: absolute;
			right: 15px;
			top: 15px;
		}

		.tags a {
			display: inline-block;
			color: #232323;
			border: 1px solid #dedede;
			padding: 3px 10px;
			margin-bottom: 5px;
			text-transform: capitalize;
			font-size: 14px;
		}

		.follow a {
			width: 35px;
			height: 35px;
			background: #fff;
			display: inline-block;
			text-align: center;
			padding-top: 5px;
		}

		.pagination {
			border: 0px;
		}

			.pagination li a {
				color: #232323;
			}

			.pagination .page-item.active .page-link {
				background-color: rgb(245, 99, 75);
				border-color: rgb(245, 99, 75);
				color: #fff !important;
			}

			.pagination .page-item:last-child .page-link {
				border-radius: 0px;
			}

			.pagination .page-item:first-child .page-link {
				border-radius: 0px;
			}

			.pagination .page-link {
				background: transparent;
				padding: 15px 20px;
			}

		.font-size-12 {
			font-size: 12px;
		}

		.post-tags a {
			display: inline-block;
			background: #fff;
			padding: 5px 10px;
		}

		.social-share a {
			color: #232323;
			padding: 0px 10px;
		}

		.reply-btn {
			font-size: 12px;
			padding: 6px 17px;
			font-weight: 400;
			border: 2px solid #eee;
		}

</style>